@model Dashboard.Models.BuildResultSummaryModel

@{
    ViewBag.Title = "Build Results";
}

<h2>Build Failures</h2>
<table class="table">
    <thead><tr>
        <th>Job Name</th>
        <th>Failure Count</th>
    </tr></thead>
<tbody>
@foreach (var entry in Model.Entries)
{
    var link = Html.ActionLink(
        linkText: @entry.JobId.ShortName, 
        controllerName: "Builds", 
        actionName: "Result", 
        routeValues: new { name = @entry.JobId.Name, pr = Model.Filter.IncludePullRequests, startDate = Model.Filter.StartDate, viewName = Model.Filter.ViewName }, 
        htmlAttributes: null);
    <tr>
        <th>@link</th>
        <th>@entry.Count</th>
    </tr>
}
</tbody>
</table>

@Html.Partial("BuildFilter", Model.Filter)
