@model List<Dashboard.Azure.BuildStateEntity>

@{
    ViewBag.Title = "Build Status";
}

<h2>Build State</h2>
<div>Count: @Model.Count</div>
<table class="table">
    <thead><tr>
        <th>Job Name</th>
        <th>Build Number</th>
        <th>Data Complete</th>
        <th>Build Complete</th>
        <th>Error Text</th>
    </tr></thead>
<tbody>
@foreach (var entity in Model)
{
    <tr>
        <td>@entity.JobName</td>
        <td>@entity.BuildNumber</td>
        <td>@entity.IsDataComplete</td>
        <td>@entity.IsBuildFinished</td>
        <td>@entity.Error</td>
    </tr>
}
</tbody>
</table>

