@model Dashboard.Models.BuildResultModel
@using Dashboard.Jenkins

@{
    ViewBag.Title = Model.JobId.ShortName;
    var prValue = Model.IncludePullRequests ? @"checked=""checked""" : "";
    var startDateValue = Model.StartDate.ToString("yyyy-MM-dd");
    var showForPrStyle = JobUtil.IsPullRequestJobName(Model.JobId.Name) ? "" : "display: none";
}

<h2>Job: @Model.JobId.ShortName</h2>
<table class="table">
    <thead><tr>
        <th>Build Number</th>
        <th>Result</th>
        <th>Machine Name</th>
        <th>Date</th>
        <th style="@showForPrStyle">PR Author</th>
        <th style="@showForPrStyle">PR Link</th>
    </tr></thead>
<tbody>
@foreach (var entity in Model.Entries)
{
    var id = entity.BuildId;
    var uri = JenkinsUtil.GetUri(SharedConstants.DotnetJenkinsUri, JenkinsUtil.GetBuildPath(id));
    var prUri = entity.PullRequestUrl ?? "";
    <tr>
        <td><a href="@uri">@entity.BuildNumber</a></td>
        <td>@entity.ClassificationKind</td>
        <td>@entity.MachineName</td>
        <td>@entity.BuildDateTime.ToLocalTime().ToString(@"MM/dd hh:mm tt")</td>
        <td>@entity.PullRequestAuthor</td>
        <td><a href="@prUri">@entity.PullRequestId</a></td>
    </tr>
}
</tbody>
</table>

<h2>Filter Results</h2>

@using (Html.BeginForm(controllerName: "Builds", actionName: "Result", method: FormMethod.Get))
{
    <input type="hidden" name="name" value="@Model.JobId.Name" />
    <div>
        <div>Include Pull Requests <input name="pr" type="checkbox" @prValue value="true" /></div>
        <div>Start Date <input name="startDate" type="date" value="@startDateValue"/></div>
        <div><input type="submit" value="Refresh" /></div>
    </div>
}

