@model Dashboard.Models.BuildResultModel
@using Dashboard.Jenkins

@{
    ViewBag.Title = Model.JobId.ShortName;
    var showForPrStyle = JobUtil.IsPullRequestJobName(Model.JobId.Name) ? "" : "display: none";
}

<h2>Job: @Model.JobId.ShortName</h2>
<table class="table">
    <thead><tr>
        <th>Build Number</th>
        <th>Result</th>
        <th>Machine Name</th>
        <th>Date</th>
        <th style="@showForPrStyle">PR Author</th>
        <th style="@showForPrStyle">PR Link</th>
    </tr></thead>
<tbody>
@foreach (var entity in Model.Entries)
{
    var id = entity.BuildId;
    var uri = entity.BoundBuildId.BuildUri;
    var prUri = entity.PullRequestUrl ?? "";
    <tr>
        <td><a href="@uri">@entity.BuildNumber</a></td>
        <td>@entity.ClassificationKind</td>
        <td>@entity.MachineName</td>
        <td>@entity.BuildDateTime.ToLocalTime().ToString(@"MM/dd hh:mm tt")</td>
        <td>@entity.PullRequestAuthor</td>
        <td><a href="@prUri">@entity.PullRequestId</a></td>
    </tr>
}
</tbody>
</table>

@Html.Partial("BuildFilter", Model.Filter)

@section scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/build-filter.js")"></script>
}
