@model Dashboard.Models.DemandRunStatusModel
@using Dashboard.Jenkins

@{
    ViewBag.Title = $"{Model.UserName} - {Model.Commit}";
}

<ul>
@foreach (var status in Model.StatusList)
{
    var jobId = JobId.ParseName(status.JobName);
    var jobLink = JenkinsUtil.GetUri(SharedConstants.DotnetJenkinsUri, jobId);

    if (status.BuildNumber.HasValue)
    {
        var buildId = new BuildId(status.BuildNumber.Value, jobId);
        var buildLink = JenkinsUtil.GetUri(SharedConstants.DotnetJenkinsUri, buildId);
        var statusLink = JenkinsUtil.GetUri(SharedConstants.DotnetJenkinsUri, JenkinsUtil.GetBuildStatusIconPath(buildId));
        <li><div><a href="@jobLink">@status.JobName</a> <a href="@buildLink">@status.BuildNumber</a> <a href="@buildLink"><img src="@statusLink" /></a></div></li>
    }
    else
    {
        <li><div>@status.JobName queued</div></li>
    }
}
</ul>
