@model Dashboard.Models.BuildFailureSummary

@{
    ViewBag.Title = "Failures";
    var prValue = Model.IncludePullRequests ? @"checked=""checked""" : "";
    var startDateValue = Model.StartDate.ToString("yyyy-MM-dd");
}

<h2>Build Failures</h2>
<ul>
@foreach (var entry in Model.Entries)
{
    var linkText = $"{entry.Name} - {entry.Count}";
    <li>@Html.ActionLink(linkText: @entry.Name, controllerName: "Builds", actionName: "Failure", routeValues: new { name = @entry.Name, pr = Model.IncludePullRequests }, htmlAttributes: null) - @entry.Count failures</li>
}
</ul>

<h2>Filter Results</h2>

@using (Html.BeginForm(controllerName: "Builds", actionName: "Index", method: FormMethod.Get))
{
    <div>
        <div>Include Pull Requests <input name="pr" type="checkbox" @prValue value="true" /></div>
        <div>Start Date <input name="startDate" type="date" value="@startDateValue"/></div>
        <div><input type="submit" value="Refresh" /></div>
    </div>
}

