@model Dashboard.Models.JobElapsedTimePerBuildModel
@using Dashboard.Jenkins

@{
    ViewBag.Title = "Job Elapsed Time per build";
    var showForPrStyle = Model.Filter.IncludePullRequests ? "" : "display: none";
    var totalETInMins = (double)Model.TotalETOfCurrJob / 60;
    var aveET = (double)totalETInMins / Model.TotalBuildCount;
    var currView = Model.Filter.ViewName;
    Model.Filter.ViewName = null;
}

<div>
    <h2>Job Elapsed Time per build</h2>
    <div>Job builds of repo (@currView)</div>
    <div>Build/run count of current job: @Model.TotalBuildCount.ToString("n0")</div>
    <div>Total elapsed time (in minutes) @totalETInMins.ToString("n2")</div>
    <div>Average elapsed time per build/run (in minutes) @aveET.ToString("n2")</div>
</div>

<table class="table sortable">
    <thead>
        <tr>
            <th>Job</th>
            <th>Build Number</th>
            <th>Elapsed Time</th>
            <th>Machine Name</th>
            <th>Date</th>
            <th style="@showForPrStyle">PR Author</th>
            <th style="@showForPrStyle">PR Link</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in Model.Entries)
        {
            var id = entity.BuildId;
            var uri = JenkinsUtil.GetUri(SharedConstants.DotnetJenkinsUri, JenkinsUtil.GetBuildPath(id));
            var prUri = entity.PullRequestUrl ?? "";
            var ETInMins = (double)entity.DurationSeconds / 60;
            <tr>
                <td>@id.JobName</td>
                <td><a href="@uri">@id.Number</a></td>
                <td>@ETInMins.ToString("n2")</td>
                <td>@entity.MachineName</td>
                <td>@entity.BuildDateTime.ToLocalTime().ToString("MM/dd hh:mm tt")</td>
                <td style="@showForPrStyle">@entity.PullRequestAuthor</td>
                <td style="@showForPrStyle"><a href="@prUri">@entity.PullRequestId</a></td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("BuildFilter", Model.Filter)

@section scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/build-filter.js")"></script>
}
