@model Dashboard.Models.JobElapsedTimeModel
@using Dashboard.Jenkins

@{
    ViewBag.Title = "Job Elapsed Time List";
    var showForPrStyle = Model.Filter.IncludePullRequests ? "" : "display: none";
    var prValue = Model.Filter.IncludePullRequests ? @"checked=""checked""" : "";
    var frValue = Model.Filter.ExcludeFlowRunResults ? @"checked=""checked""" : "";
    var startDateValue = Model.Filter.StartDate.ToString("yyyy-MM-dd");
    var totalETInMin = (double)Model.TotalETOfCurrRepo / 60;
    var aveET = (double)totalETInMin / Model.TotalJobCount;
}

<div>
    <h2>Job Elapsed Time List</h2>
    <div>Jenkins Jobs (@Model.Filter.ViewName)</div>
    <div>Job count: @Model.TotalJobCount.ToString("n0")</div>
    @if (@Model.Filter.ExcludeFlowRunResults)
    {
        <div>Flow job count: @Model.FlowJobCount.ToString("n0")</div>
    }
    <div>Total elapsed time (in minutes) @totalETInMin.ToString("n2")</div>
    <div>Average elapsed time per job (in minutes) @aveET.ToString("n2")</div>
</div>

<table class="table sortable">
    <thead>
        <tr>
            <th>Job Name</th>
            <th>Aggregated Elapsed Time (in minutes)</th>
            <th>Number of runs of current job</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var currJobElapsedTime in Model.AgJobElapsedTimeDict.OrderByDescending(x => x.Value.ETSum))
        {
            var uri = Url.Action(controllerName: "builds", actionName: "JobElapsedTimePerBuild", routeValues: new
            {
                viewName = Model.Filter.ViewName,
                startDate = startDateValue,
                jobName = currJobElapsedTime.Key
            });
            var ETSumInMin = Math.Round((double)currJobElapsedTime.Value.ETSum / 60, 2);
            <tr>
                <td>@currJobElapsedTime.Key</td>
                <td>@ETSumInMin</td>
                <td><a href="@uri">@currJobElapsedTime.Value.NumOfBuilds</a></td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("BuildFilter", Model.Filter)

<!-- Hidden form for navigating on selection of categories -->
@using (Html.BeginForm(
        controllerName: "Builds",
        actionName: "JobElapsedTimePerBuild",
        method: FormMethod.Get,
        htmlAttributes: new { id = "category_form" }))
{
    <input id="category_form_kind" name="name" value="" hidden="hidden" />
    <input name="pr" type="checkbox" @prValue value="true" hidden="hidden" />
    <input name="fr" type="checkbox" @frValue value="true" hidden="hidden" />
    <input name="startDate" type="date" value="@startDateValue" hidden="hidden" />
    <input name="viewName" value="@Model.Filter.ViewName" hidden="hidden" />
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/build-filter.js")"></script>
}
