@model Dashboard.Models.JobETModel
@using Dashboard.Jenkins

@{
    ViewBag.Title = "Job ET List";
    var showForPrStyle = Model.Filter.IncludePullRequests ? "" : "display: none";
    var prValue = Model.Filter.IncludePullRequests ? @"checked=""checked""" : "";
    var startDateValue = Model.Filter.StartDate.ToString("yyyy-MM-dd");
}

<h2>Job Elapsed Time List</h2>
<h3>Jenkins Jobs (@Model.Filter.ViewName)</h3>
<table class="table">
    <thead>
        <tr>
            <th>Job Name</th>
            <th>Aggregated Elapsed Time (in secs)</th>
            <th>Number of runs of current job</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var currJobET in Model.AgJobETDict.OrderByDescending(x => x.Value.ETSum))
        {
              @*var uri = SharedConstants.DashboardDebugUriString + "/builds/JobETPerBuild?";*@
              var uri = "http://jdash-et.azurewebsites.net/builds/JobETPerBuild?";
                uri = uri + "viewName=" + Model.Filter.ViewName;
                uri = uri + "&startDate=" + startDateValue;
                uri = uri + "&jobName=" + currJobET.Key;
            <tr>
                <td>@currJobET.Key</td>
                <td>@currJobET.Value.ETSum</td>
                <td><a href="@uri">@currJobET.Value.NumOfBuilds</a></td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("BuildFilter", Model.Filter)

<!-- Hidden form for navigating on selection of categories -->
@using (Html.BeginForm(
        controllerName: "Builds",
        actionName: "JobETPerBuild",
        method: FormMethod.Get,
        htmlAttributes: new { id = "category_form" }))
{
    <input id="category_form_kind" name="name" value="" hidden="hidden" />
    <input name="pr" type="checkbox" @prValue value="true" hidden="hidden" />
    <input name="startDate" type="date" value="@startDateValue" hidden="hidden" />
    <input name="viewName" value="@Model.Filter.ViewName" hidden="hidden" />
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/build-filter.js")"></script>
}
