@model Dashboard.Models.BuildResultKindModel
@using Dashboard.Jenkins

@{
    ViewBag.Title = "Build Results";
    var prValue = Model.IncludePullRequests ? @"checked=""checked""" : "";
    var startDateValue = Model.StartDate.ToString("yyyy-MM-dd");
    var showForPrStyle = Model.IncludePullRequests ? "" : "display: none";
}

<h2>Kind @Model.ClassificationKind</h2>
<h3>Jenkins Jobs</h3>
<table class="table">
    <thead><tr>
        <th>Job</th>
        <th>Build Number</th>
        <th>Kind</th>
        <th>Machine Name</th>
        <th>Date</th>
        <th style="@showForPrStyle">PR Author</th>
        <th style="@showForPrStyle">PR Link</th>
    </tr></thead>
<tbody>
@foreach (var entity in Model.Entries)
{
    var id = entity.BuildId;
    var uri = JenkinsUtil.GetUri(SharedConstants.DotnetJenkinsUri, JenkinsUtil.GetBuildPath(id));
    var prUri = entity.PullRequestUrl ?? "";
    <tr>
        <td>@id.JobName</td>
        <td><a href="@uri">@id.Id</a></td>
        <td>@entity.ClassificationKind</td>
        <td>@entity.MachineName</td>
        <td>@entity.BuildDateTime.ToLocalTime().ToString("MM/dd hh:mm tt")</td>
        <td style="@showForPrStyle">@entity.PullRequestAuthor</td>
        <td style="@showForPrStyle"><a href="@prUri">@entity.PullRequestId</a></td>
    </tr>
}
</tbody>
</table>

<h2>Filter Results</h2>

@using (Html.BeginForm(controllerName: "Builds", actionName: "Kind", method: FormMethod.Get))
{
    <input type="hidden" name="kind" value="@Model.ClassificationKind" />
    <div>
        <div>Include Pull Requests <input name="pr" type="checkbox" @prValue value="true" /></div>
        <div>Start Date <input name="startDate" type="date" value="@startDateValue"/></div>
        <div><input type="submit" value="Refresh" /></div>
    </div>
}

