@using Dashboard.Models;
@model BuildStatsModel

@{
    ViewBag.Title = "Build Stats";
}

<h2>Build Stats</h2>
<table class="table">
    <thead><tr>
        <th>Date</th>
        <th>Build Count</th>
        <th>Success Percent</th>
        <th>Succeeded</th>
        <th>Failed</th>
        <th>Failed</th>
    </tr></thead>
<tbody>
@foreach (var entry in Model.BuildStats)
{
    var percent = ((double)entry.BuildSucceededCount) / entry.BuildCount;

    <tr>
        <td>@entry.Date.ToString("dddd, yyyy/MM/dd")</td>
        <td>@entry.BuildCount.ToString("n0")</td>
        <td>@percent.ToString("P2")</td>
        <td>@entry.BuildSucceededCount.ToString("n0")</td>
        <td>@entry.BuildFailedCount.ToString("n0")</td>
    </tr>
}
</tbody>
</table>

<div><p>All dates are UTC based</p></div>

<h2>Filter Results</h2>

@using (Html.BeginForm(controllerName: "Builds", actionName: "Stats", method: FormMethod.Get))
{
    <div>
        <div>Include Pull Requests <input name="pr" type="checkbox" checked=@Model.IncludePullRequest value="true" /></div>
        <div><input type="submit" value="Refresh" /></div>
    </div>
}

