@model Dashboard.Models.TestFailureModel
@using Dashboard.Jenkins

@{
    ViewBag.Title = Model.Name;
    var showForPrStyle = Model.Filter.IncludePullRequests ? "" : "display: none";
}

<h2>Test Case: @Model.Name</h2>
<h3>Failed Jenkins Jobs</h3>
<table class="table">
    <thead><tr>
        <th>Build Number</th>
        <th>Machine Name</th>
        <th>Date</th>
        <th style="@showForPrStyle">PR Author</th>
        <th style="@showForPrStyle">PR Link</th>
    </tr></thead>
<tbody>
@foreach (var entity in Model.Builds)
{
    var id = entity.BoundBuildId;
    var uri = id.BuildUri;
    var prUri = entity.PullRequestUrl ?? "";
    <tr>
        <td><a href="@uri">@id.JobName @id.Number</a></td>
        <td>@entity.MachineName</td>
        <td>@entity.BuildDateTime.ToLocalTime().ToString("MM/dd hh:mm tt")</td>
        <td style="@showForPrStyle">@entity.PullRequestAuthor</td>
        <td style="@showForPrStyle"><a href="@prUri">@entity.PullRequestId</a></td>
    </tr>
}
</tbody>
</table>

@Html.Partial("BuildFilter", Model.Filter)

@section scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/build-filter.js")"></script>
}
