@model Dashboard.Models.TestFailureSummaryModel

@{
    ViewBag.Title = "Failures";
    var prValue = Model.IncludePullRequests ? @"checked=""checked""" : "";
    var startDateValue = Model.StartDate.ToString("yyyy-MM-dd");
}

<h2>Test Failures</h2>
<table class="table">
    <thead><tr>
        <th>Test Name</th>
        <th>Failure Count</th>
    </tr></thead>
<tbody>
@foreach (var entry in Model.Entries)
{
    <tr>
        <td>@Html.ActionLink(linkText: @entry.Name, controllerName: "Builds", actionName: "Test", routeValues: new { name = @entry.Name, pr = Model.IncludePullRequests, startDate = Model.StartDate }, htmlAttributes: null)</td>
        <td>@entry.Count</td>
    </tr>
}
</tbody>
</table>

<h2>Filter Results</h2>

@using (Html.BeginForm(controllerName: "Builds", actionName: "Index", method: FormMethod.Get))
{
    <div>
        <div>Include Pull Requests <input name="pr" type="checkbox" @prValue value="true" /></div>
        <div>Start Date <input name="startDate" type="date" value="@startDateValue"/></div>
        <div><input type="submit" value="Refresh" /></div>
    </div>
}

