@model Dashboard.Azure.TestRuns.TestCacheStatSummary

<h2>Test Cache Summary</h2>
<div>Assembly Count @Model.HitStats.AssemblyCount</div>
<div>Total Tests Cached @Model.HitStats.TestsTotal.ToString("n0")</div>
<div>Total Test Time @Model.HitStats.Elapsed.ToString(@"dd\.hh\:mm")</div>

<h2>Test Summary</h2>
<div>Hit Count @Model.HitStats.AssemblyCount</div>
<div>Miss Count @Model.MissCount</div>
<div>Upload Count @Model.UploadCount</div>
<div>Current cache count @Model.TestResultCount</div>
<div>Test Runs @Model.TestRunCount</div>

<div><a href="@Url.Action(controllerName: "Status", actionName: "Tests", routeValues: new { all = true })">All Tests</a></div>

