@model Dashboard.Models.TestCacheStatSummary

<div>Hit Count @Model.HitCount</div>
<div>Miss Count @Model.MissCount</div>
<div>Store Count @Model.StoreCount</div>

<div>Content Stats</div>
<div>Average Length: @Model.ContentSummary.AverageLength</div>
<div>Min Length: @Model.ContentSummary.MinLength</div>
<div>Max Length: @Model.ContentSummary.MaxLength</div>


